header{
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;
    background-color: white;
    
}

#title-section{

    margin-top:75px;
    
    font-size: large;
    font-style: italic;
    background-color:white
}

#end-screen{

    margin-top:75px;
   

}


.hide {
    display: none!important;
}

.show {
    display: block;
    font-size: large;
    
}
.choice{
    display: block;
    margin-top: 10px;
    background-color: rgb(85, 171, 158);
    font-style: italic;
}